.video-page{
	    height: 400px;
    width: 100%;
}
.margin-banner{
	margin-top: 40px;
	padding: 0px;
}
.padding-right{
	padding-right:15px;
}
.padding-left{
	padding-left: 15px;
}


@media (max-width: 850px) {
	.padding-right{
		padding-right:0px;
	}
	.padding-left{
		padding-left: 0px;
	}
}